<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:20%">
 {{range .Pages}}
  <a href="#" class="w3-bar-item w3-button">{{.Title}}</a> 
  
{{end}}
</div>

<div style="margin-left:20%">

<div class="w3-container">
<h2>{{.Title}}</h2>
{{.Content}}
</div>

</div>
      
</body>
</html>

